<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

    <div>
      TEST I18N
      <span i18n="shc|">shc_9</span>
      <span i18n="shc|">shc_10</span>
      <span i18n="shc|">shc_11</span>
      <span i18n="shc|">shc_12</span>
      <span i18n="shc|">shc_13</span>
      <span i18n="shc|">shc_14</span>
      <span i18n="shc|">shc_15</span>
      <span i18n="shc|">shc_16</span>
      <span i18n="shc|">shc_17</span>
    </div>

  </div>

</div>
